<% if current_user.customer? %>
<ul>
	<li>
	  <%= link_to "Subscriptions", subscriptions_path %>
	</li>
		<%= link_to "Edit Customer", edit_customer_path(current_user.customer) %>
	</li>
	<li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "Change Email/Password", user_edit_login_details_path(current_user.id) %>
	</li>
</ul>
<% end %>


