<% if current_user.user_type == "admin" %>
<div>
  <h3>Account Actions</h3>
  
  <% if @user.status == "approved" %>
    <p><strong>Account Status:</strong> Approved</p>
    <%= link_to "Suspend", admin_suspend_user_path(@user) , class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
  
  <% elsif @user.status == "pending" %>
    <p><strong>Account Status:</strong> Pending Approval</p>
 	  <%= link_to "Approve", admin_approve_user_path(@user), class: "btn btn-success" %>
	  <%= link_to "Back to pending registrations",  :back, class: "btn btn-default" %>
  
  <% else %>
    <p><strong>Account Status:</strong> Suspended</p>
    <%= link_to "Approve", admin_approve_user_path(@user), class: "btn btn-success" %>
  
  <% end %>
  <br/>
  <br/>
</div>
<% end %>

