<h1>Schools</h1>

<% if @customers.present? %>
  <table class = "table table-bordered">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% @customers.each do |customer| %>
      <% user = customer.get_user %>
      <tr> 
        <!-- TODO: add school name -->
        <td> <%= "#{customer.first_name} #{customer.last_name} - SCHOOL" %></td>
        <td> <%= user.status %>
        <td> <%= link_to "View", customer_path(customer), class: "btn btn-primary" %> </td>
      </tr>  
    <% end %>
  </table>
<% end %>