<div class="landing-page-sections">
  <section id="leader">
    <div class="container">
      <div class="section-content">
        <h1>
          VCE Revision Sessions<br>
          Via the Internet
        </h1>
        <p>Live. Interactive. Convenient.</p>
        <a class="btn btn-default push-transition">START SEARCH NOW</a>
      </div>
    </div>
  </section>
  <section id="subject-tiles">
    <div class="container">
      <div class="section-content">
        <h1>Which VCE subjects are you interested in?</h1>
        <div class="tile-wrap">
          <div class="tile-row">
            <div class="tile">Chemistry</div>
            <div class="tile">Business Management</div>
            <div class="tile">English</div>
          </div>
          <div class="tile-row">
            <div class="tile">Physics</div>
            <div class="tile">Legal Studies</div>
            <div class="tile">French</div>
          </div>
        </div>
        <p class="after-tile-callout">
          <a class="btn btn-default push-transition">FIND MORE SESSIONS</a><br>
          <i class="underbutton">... on virtually any subject!</i>
        </p>
      </div>
    </div>
  </section>
</div>
<div class="fixed-background"></div>
