<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Admin</h1>
    <p>
      A new booking for has been created.<br>
    </p>
    <p>
      <%= link_to 'Click here to view more details about the booking',  @reference %>.
    </p>
  </body>
</html>