<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name %></h1>
    <p>
      A new booking has been created that you may be interested in.<br>
    </p>
    <p>
     <%= link_to 'Click here to view the booking',  @reference %>
    </p>
  </body>
</html>