<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Admin</h1>
    <p>
      <%= message %> Please check XERO.<br>
    </p>
    <p>
     <%= link_to 'Click here to view the booking',  @reference %>
    </p>
  </body>
</html>