<h1> School Dashboard </h1>
<%= link_to "new booking", new_booking_path %>


<!--   create_table "bookings", force: :cascade do |t|
    t.integer  "customer_id"
    t.integer  "presenter_id"
    t.datetime "booking_date"
    t.integer  "duration_minutes"
    t.string   "cancellation_message"
    t.boolean  "shared",               default: false
    t.integer  "approval"
    t.integer  "subject_id"
    t.boolean  "presenter_paid",       default: false
    t.datetime "created_at",                           null: false
    t.datetime "updated_at",                           null: false
  end
  -->