<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name%></h1>
    <p>
      You have received a new enquiry.<br>
    </p>
    <p>
      <%= link_to 'Click here to view the enquiry',  @reference %>.
    </p>
  </body>
</html>