<h1> Subjects </h1>
<div class="container">
	<table>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th></th>
		</th>
<% @subject.each do |s| %>
	<tr>
		<td><%= s.name %> </td>
		<td><%= s.category %> </td>
		<td></td>
	</tr>
<% end %>

</div>