<% if (@presenter == Presenter.find_by(user_id: current_user)  && !@profile.approved?) ||  (@current_user.admin? && !@profile.approved?)%>
  <div class="alert alert-info" role="alert">
    <h3>Pending Profile Changes</h3>

    <% if @profile.bio != @profile.bio_edit %>
      <h3>Bio</h3>
      <div class="panel panel-default">
        <div class="panel-body" id="profile_bio_edit">
          <%= sanitize @profile.bio_edit %>
        </div>
      </div> 
    <% end %>

    <% if @profile.picture_edit_stored? %>
      <p>Picture: <%= image_tag @profile.picture_edit.thumb('100x100#').url, class: "img-circle" %></p>   
    <% end %>
    
    <% if (current_user.presenter? && !@profile.pending_admin?) || (current_user.admin? && !@profile.pending_presenter?) %>
      <%= edit_presenter_profile_link(@presenter, "btn btn-default") %>
    <% end %>

    <% if (@profile.pending_admin? && current_user.admin?) || (@profile.pending_presenter? && current_user.presenter?) %>
      <%= link_to "Approve", approve_presenter_profile_path(@presenter), class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>