/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .

 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import "variables";
@import "branding";

//  Background for the entire page
html { background: lighten(saturate($siteBlue, 10%), 0%); }

body {
  margin: $navbar-height 0 0 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;

  //  Some globals
  a { transition: color 250ms ease; }
  .btn {
    &.push-transition {
      transition: transform 100ms ease;
      transform: scale(1);
      &:active { transform: scale(0.9); }
    }
  }

  //  Navbar
  nav.navbar-fixed-top {
    min-height: $navbar-height;
    background: $siteBlue;
    border-bottom: 1px solid $pmcBlue;
    box-sizing: border-box;
    a.navbar-brand {
      display: table;
      padding: 0;
      .logo, .text {
        display: table-cell;
        vertical-align: middle;
        height: $navbar-height;
        padding: 8px;
      }
      .logo {
        img {
          height: 100%;
          width: auto;
        }
      }
      .text {
        line-height: 21px;
        color: white;
      }
    }
    .navbar-nav {
      > li {
        > a {
          padding-top: 22px;
          padding-bottom: 22px;
          color: white;
          &.btn {
            $vOffset: 12px;
            $hOffset: 8px;
            $buttonHeight: $navbar-height - ($vOffset * 2);
            margin-top: $vOffset;
            height: $buttonHeight;
            padding: 0 14px;
            margin-right: $hOffset;
            margin-left: $hOffset;
            line-height: $buttonHeight;
          }
        }
      }
      .dropdown {
        .dropdown-toggle {
          $hMargin: 8px;
          > i {
            $padding: 20px;
            font-size: 24px;
            padding-top: $padding;
            padding-bottom: $padding;
            margin-left: $hMargin;
          }
          > .badge {
            margin-bottom: 31px;
            padding: 2px 6px 2px 6px;
            background-color: #e80202;
            margin-right: ($hMargin/2);
          }
        }
        @media screen and (max-width: $screen-sm-min) {
          display: none;
        }
      }
    }
    button.navbar-toggle {
      $buttonRed: $siteRed;
      margin-top: 14px;
      background: $buttonRed;
      border: none;
      &:hover { background: lighten($buttonRed, 10%); }
      .icon-bar {
        background-color: #FFFFFF;
      }
    }
  }

  > .main {
    .container {
      $vPadding: 18px;
      padding-top:$vPadding;
      padding-bottom:$vPadding;
      &.no-bg { background: none; }
      > *:first-child { margin-top: 0; }
    }
  }
  &.no-container-bg { background: none; }

  //  Footer
  footer {
    width: 100%;
    float: left;
    color: #EEEEEE;
    .footer-content,
    .afterfooter {
      width: 100%;
      float: left;
    }
    .footer-content {
      background: darken($siteBlue, 15%);
      .container {
        display: table;
        $vPadding: 12px;
        padding-top: $vPadding;
        padding-bottom: $vPadding;
        section {
          display: table-cell;
          width: 33%;
          h3 {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 4px 0;
          }
          ul {
            text-transform: uppercase;
            list-style: none;
            padding-left: 8px;
            margin: 0 0 8px 0;
            font-size: 12px;
            font-weight: 700;
            li { cursor: pointer; }
          }
        }
      }
    }
    .afterfooter {
      width: 100%;
      background: darken($siteBlue, 20%);
      padding: 8px 0;
      .left, .right {
        width: 50%;
        @media screen and (max-width: $screen-sm-min) {
          width: 100%;
          float: left;
          text-align: center;
        }
      }
      .left { float:left; }
      .right { float:right; }
    }
  }
}

//  Hide the debug_dump that appears when we're working in !Production
pre.debug_dump { display: none !important; }
