// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The homepage banner background was sourced from:
// https://www.pexels.com/photo/apple-iphone-books-desk-232/

@import "branding";
@import "variables";
@import "bootstrap";
div.fixed-background {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darken($pmcBlue, 25%);
  background-image: asset-url('homepage-banner-background.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
div.landing-page-sections {
  section {
    width: 100%;
    float: none;
    .container {
      display: table;
      margin: 0 auto;
      .section-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        > *:first-child { margin-top:0; }
      }
    }
    //  Generic button for use in each of the sections on the homepage
    a.btn {
      font-size: 14px;
      font-weight: bold;
      padding: 24px 36px;
      margin-top: 36px;
      border: none;
    }
    .underbutton {
      display: inline-block;
      margin-top: 12px;
      color: #EEEEEE;
    }
    &#leader {
      $backgroundBlue: darken($pmcBlue, 50%);
      padding: 128px 0;
      background: rgba(red($backgroundBlue), green($backgroundBlue), blue($backgroundBlue), 0.4);
      @media screen and (max-width: $screen-sm-min) {
        padding: 36px 0;
      }
      .container {
        .section-content {
          color: white;
          h1 { font-size: 32px; }
          p { font-size: 16px; }
        }
      }
    }
    &#subject-tiles {
      // background: lighten(saturate($pmcBlue, 25%), 10%);
      background: $siteBlue;
      padding: 8px 0;
      .container {
        .section-content {
          > h1 {
            text-align: center;
            margin: 16px 0;
            font-weight: 400;
            color: #FFFFFF;
          }
          .tile-wrap {
            display: table;
            width: 100%;
            border-spacing: 12px;
            .tile-row {
              display: table-row;
              width: 100%;
              @media screen and (max-width: $screen-sm-min) {
                display: block;
              }
              .tile {
                display: table-cell;
                vertical-align: middle;
                height: 200px;
                background: #EEE;
                padding: 16px;
                width: 33%;
                font-size: 32px;
                font-weight: 700;
                cursor: pointer;
                @media screen and (max-width: $screen-sm-min) {
                  width: 100%;
                  display: block;
                  float: left;
                  height: auto;
                  padding: 54px 0;
                  margin-bottom: 24px;
                }
              }
            }
          }
          a.btn { margin-top: 0; }
          .after-tile-callout {
            margin: 36px 0;
            @media screen and (max-width: $screen-sm-min) {
              margin: 8px 0;
            }
            .underbutton {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
