// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The homepage banner background was sourced from:
// https://www.pexels.com/photo/apple-iphone-books-desk-232/

@import "branding";
@import "variables";
@import "bootstrap";
div.fixed-background {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darken($pmcBlue, 25%);
  background-image: asset-url('homepage-banner-background.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  &.test-bg-1 { background-image: url('https://as2.ftcdn.net/jpg/00/79/86/79/500_F_79867983_efeQpy95Jganj6OfJwMiRSZZZ7alHbAm.jpg'); }
  &.test-bg-2 { background-image: url('https://as2.ftcdn.net/jpg/00/57/95/93/500_F_57959323_0R6BqPnEbagKGSjMtVMf3uw50MmQkVyb.jpg'); }
  &.test-bg-3 { background-image: url('https://as1.ftcdn.net/jpg/00/44/96/06/500_F_44960643_ncFwYl7VPGTTE4CLF5rbtzul9LV8itKL.jpg'); }
  &.test-bg-4 { background-image: url('https://as2.ftcdn.net/jpg/00/85/64/11/500_F_85641142_8lHQXxKTHQJXGhbbNIP72pl3xzSTzRVx.jpg'); }
  &.test-bg-5 { background-image: url('https://as2.ftcdn.net/jpg/01/09/56/65/500_F_109566510_HSOZVDmDktf7PyX4L0rRyGVqsvuNts00.jpg'); }
}
div.landing-page-sections {
  section {
    width: 100%;
    float: none;
    .container {
      display: table;
      margin: 0 auto;
      .section-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        > *:first-child { margin-top:0; }
      }
    }
    //  Generic button for use in each of the sections on the homepage
    a.btn {
      font-size: 14px;
      font-weight: bold;
      padding: 24px 36px;
      margin-top: 36px;
      border: none;
    }
    .underbutton {
      display: inline-block;
      color: #EEEEEE;
      font-size: 19px;
      font-weight: bold;
      margin-top: 18px;
    }
    &#leader {
      padding: 128px 0;
      @media screen and (max-width: $screen-sm-min) {
        padding: 36px 0;
      }
      .container {
        .section-content {
          color: white;
          h1 { font-size: 48px; }
          h2 { font-size: 30px; }
          p { font-size: 36px; }
          a.btn { font-size: 24px; }
          @media screen and (max-width: 540px) {
            h1 { font-size: 36px; }
            h2 { font-size: 24px; }
            p { font-size: 28px; }
            a.btn { font-size: 16px; }
          }
        }
      }
    }
    &#subject-tiles {
      background: darken($siteBlue, 5%);
      padding: 8px 0;
      .container {
        .section-content {
          > h1 {
            text-align: center;
            margin: 16px 0;
            font-weight: 400;
            color: #FFFFFF;
          }
          .tile-wrap {
            display: table;
            width: 100%;
            border-spacing: 12px;
            .tile-row {
              display: table-row;
              width: 100%;
              @media screen and (max-width: $screen-sm-min) {
                display: block;
              }
              .tile {
                display: table-cell;
                vertical-align: middle;
                height: 200px;
                background: #EEE;
                padding: 16px;
                width: 33%;
                font-size: 32px;
                font-weight: 700;
                cursor: pointer;
                @media screen and (max-width: $screen-sm-min) {
                  width: 100%;
                  display: block;
                  float: left;
                  height: auto;
                  padding: 54px 0;
                  margin-bottom: 24px;
                }
              }
            }
          }
          a.btn {
            margin-top: 0;
            font-size: 24px;
            @media screen and (max-width: 540px) {
              font-size: 16px;
            }
          }
          .after-tile-callout {
            margin: 36px 0;
            @media screen and (max-width: $screen-sm-min) {
              margin: 8px 0;
            }
            .underbutton {
              color: darken($siteBlue, 50%);
            }
          }
        }
      }
    }
  }
}
