// Place all the styles related to the presenters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-autocomplete .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

.p-container{
	margin: 0px 0px 0px 50px;
	overflow-x: hidden;
	overflow-y: visible;
  max-height: 300px;

}
.s-container{
	margin: 73px 50px 0px 0px;
}
.img-circle {
    border-radius: 50%;
}
table.table {
  width: 100% !important; //  Override the jQuery weirdness that is messing with the width.
  tr {
    > *:nth-child(4) {
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 720px) {
	.p-container{
		overflow-x: visible;
		overflow-y: hidden;
	  max-height: none;
	  margin-left: 0px;
	}

}
