// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "branding";
@import "bootstrap";
table.pending-user-registrations {
  /*
    We set the first th to 99% width, so that the action column will
    be nice and snug up against the left hand side.
  */
  tr:first-child th:first-child { width:99%; }
}
div.user-auth-dialog {
  $vPadding: 36px;
  $textColour: #FFFFFF;
  padding-top: $vPadding;
  padding-bottom: $vPadding;
  color: $textColour;
  .container {
    .user-auth-wrap {
      > h2 { margin-top: 0; }
      > a { color: $textColour; }
      max-width: 360px;
      margin: 0 auto;
      padding: 18px;
      background: darken($siteBlue, 10%);
      border-radius: 2px;
      form {
        margin-bottom: 12px;
        div#error_explanation {
          margin: 24px 0;
          color: $pmcRed;
          h2 {
            font-size: 0px;
            &:before {
              font-size: 16px;
              content: 'Unable to process your request:';
              display:inline-block;
            }
          }
        }
        input[type=submit] {
          border: none;
          border-radius: 3px;
          background: $siteRed;
          color: #FFFFFF;
          width: 100%;
        }
        .help-block { color: #EFEFEF; }
        .field_with_errors {
          > input, > textarea { box-shadow: 0 0 2px #ff0000; }
        }
      }
    }
  }
}
table.upcoming-bookings {
  tr {
    > *:nth-child(1),
    > *:nth-child(4),
    > *:nth-child(5) {
      @media screen and (max-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}