// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.pending-user-registrations {
  /*
    We set the first th to 99% width, so that the action column will
    be nice and snug up against the left hand side.
  */
  tr:first-child th:first-child { width:99%; }
}
div.login-dialog {
  $vPadding: 36px;
  padding-top: $vPadding;
  padding-bottom: $vPadding;
  .container {
    .dialog-wrap {
      > h2 { margin: 0 0 24px 0; }
      max-width: 640px;
      margin: 0 auto;
      padding: 24px;
      background: #EEE;
      form.new_user {
        margin-bottom: 16px;
        .remember-wrap {
          margin-bottom: 0;
          line-height: 32px;
        }
      }
    }
  }
}