<h1> Presenter Dashboard </h1>

<%= link_to "View Profile", presenter_profile_path(current_user.presenter) %>
<%= link_to "Edit Profile",  new_presenter_profile_path(current_user.presenter) %>
<%= link_to "Open Bookings",  bookings_open_path %>
<%= link_to "Bookings", bookings_path %>

