<div class = "container">
	<h3> Set your base rate </h3>
	<%= form_tag("set_rate", method: "post", class: "form-inline") do %>
		<%= number_field_tag :rate, nil,class: "form-control" %>
		<%= submit_tag "Set rate", class: "btn btn-success" %>
	<% end %>
</div>
