<h1> Availabilities </h1>
<div class="container">
 <%= link_to "New", new_presenter_availability_path, class: "btn btn-info" %>
	
	<table class = "table table-hover">
		<tr>
			
			<th class="col-md-1">Mon</th>
			<th class="col-md-1">Tue</th>
			<th class="col-md-1">Wed</th>
			<th class="col-md-1">Thu</th>
			<th class="col-md-1">Fri</th>
			<th class="col-md-1">Sat</th>
			<th class="col-md-1">Sun</th>			
			<th class="col-md-2"></th>
		</tr>

<%= render partial: "availabilities/availability", collection: @availabilities %>

</table>

</div>